<meta charset="utf-8">
<title>Sage</title>
<meta content="IE=edge" http-equiv="X-UA-Compatible">
<meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
<meta content="" name="description">
<meta content="Matt Moderwell" name="author">
<meta name="mobile-web-app-capable" content="yes">
<meta name="theme-color" content="#000">
<!--Fav-->
<link href="/img/favicon.ico" rel="shortcut icon">
<!--Fonts-->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/font-hack/2.020/css/hack.min.css">
<link href="https://fonts.googleapis.com/css?family=Leckerli+One" rel="stylesheet">
<!--Styles-->
<link rel="stylesheet" type="text/css" href="/css/milligram.css">
<link rel="stylesheet" type="text/css" href="/css/style.css">