<meta charset="utf-8">
<title>Auth</title>
<meta content="IE=edge" http-equiv="X-UA-Compatible">
<meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
<meta content="" name="description">
<meta content="Matt Moderwell" name="author">
<meta name="mobile-web-app-capable" content="yes">
<meta name="theme-color" content="#000">
<!--Fav-->
<link href="/img/favicon.ico" rel="shortcut icon">
<!--Fonts-->
<link href="https://fonts.googleapis.com/css?family=Bree+Serif|Roboto" rel="stylesheet">
<!--Styles-->
<link rel="stylesheet" type="text/css" href="/css/milligram.css">
<link rel="stylesheet" type="text/css" href="/css/style.css">
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-101729152-4"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-101729152-4');
</script>
