<div class="row">
    <div class="column column-60">
        <h1 id="auth">Auth</h1>
    </div>
    <div class="column" id="personal">
        <p>Made by Matt Moderwell</p>
        <a href="https://mmoderwell.com/projects/auth" title="mmoderwell.com/projects/auth">mmoderwell.com/projects/auth<br></a>
        <a href="https://github.com/mmoderwell/auth" title="github.com/mmoderwell/auth">github.com/mmoderwell/auth</a>
    </div>
</div>
<!--End of Header-->