<div class="row">
    <div class="column column-60">
        <h1 id="sage">Sage</h1>
    </div>
    <div class="column" id="personal">
        <p>Made by Matt Moderwell</p>
        <a href="https://mmoderwell.com" title="mmoderwell.com">mmoderwell.com<br></a>
        <a href="https://github.com/mmoderwell/sage" title="github.com/mmoderwell/sage">github.com/mmoderwell/sage</a>
    </div>
</div>
<!--End of Header-->