<!DOCTYPE html>
<html lang="en">

<head>
	<% include ./partials/head %>
		<link rel="stylesheet" type="text/css" href="/css/home.css">
</head>

<body>

	<div class="container">
		<div class="row">
			<div class="column">
				<div class="top_button">
					<a href="/logout">Logout</a>
				</div>
			</div>
		</div>

		<!--Header-->
		<% include ./partials/header %>

			<!--Main Content-->
			<div class="row">
				<div class="column column-20"></div>
				<div class="column">
					<h3>Welcome, <%= user.name %></h3>
					<p>Here is where you would be able to access your secured content.
						<br>You are the only one who has access to this page.</p>
					<p>I hope you enjoyed this demo and can see how biometric authentication has great potential. Already we are seeing this technology on mobile devices, but I think it can be expanded to even more use cases. Far too often we are hearing about data breaches where user information is stolen. Instead of having a credit card number, username and password, and all of the other personal bits of information that we use, this kind of authentication could one day take the place of all of those things.</p>
				</div>
				<div class="column column-20"></div>
			</div>
			<!--End of Main Content-->
	</div>
</body>

</html>