<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./partials/head %>
        <link rel="stylesheet" type="text/css" href="/css/login.css">
</head>

<body>
    <div class="container">
        <header>
            <% include ./partials/header %>
        </header>

        <!--Main Content-->
        <div class="row">
            <div class="column column-20"></div>
            <div class="column">
                <div class="pop">
                    <br>
                    <div id="heading">
                        <p>Log in to Auth
                            <br>or <a href="" id="new_account" onClick="return false;" title="create an account">create an account</a></p>
                        <p id="error">No errors</p>
                    </div>
                </div>
                <br>
                <video id="gum-local" autoplay playsinline></video>
                <canvas id="canvas">
                </canvas>
                <img id="photo" alt="The screen capture will appear in this box.">
            </div>
            <div class="column column-20"></div>
        </div>
        <!--End of Main Content-->
    </div>
    <script src="/js/login.js" type="text/javascript"></script>
    <script src="/js/media.js" type="text/javascript"></script>
</body>

</html>