<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./partials/head %>
        <link rel="stylesheet" type="text/css" href="/css/login.css">
</head>

<body>
    <div class="container">
        <header>
            <% include ./partials/header %>
        </header>

        <!--Main Content-->
        <div class="row">
            <div class="column column-20"></div>
            <div class="column">
                <div class="pop">
                    <br>
                    <div id="heading">
                        <p id="">Create an account with Auth
                            <br><a href="/login" title="login">Already have an accout?</a></p>
                        <p id="error">No errors</p>
                        <form id="signin_form" name="signin_form">
                            <div class="form-group">
                                <input name="fname" type="text" required="required" autocomplete="fname" />
                                <label class="control-label" for="input">first name</label><i class="bar"></i>
                            </div>
                            <div class="form-group">
                                <input name="lname" type="text" required="required" autocomplete="lname" />
                                <label class="control-label" for="input">last name</label><i class="bar"></i>
                            </div>
                            <button type="button" class="button" id="signup"></button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="column column-20"></div>
        </div>
        <!--End of Main Content-->
    </div>
    <script src="/js/signup.js" type="text/javascript"></script>
</body>

</html>