<!DOCTYPE html>
<html lang="en">

<head>
	<% include ./partials/head %>
		<link rel="stylesheet" type="text/css" href="/css/train.css">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/font-hack/2.020/css/hack.min.css">
</head>

<body>

	<div class="container">
		<div class="row">
			<div class="column">
				<div class="top_button">
					<a href="/logout">Logout</a>
				</div>
			</div>
		</div>

		<!--Header-->
		<% include ./partials/header %>

			<!--Main Content-->
			<div class="row">
				<div class="column column-20"></div>
				<div class="column">


					<div class="pop">
						<br>
						<div id="heading" class="row">
							<div class="column">
								<div id="intro">
									<h3>Training the system</h3>
									<p id="directions">Let's get 10 good shots of you.</p>
								</div>
								<p id="error">No errors</p>
								<div id="buttons">
									<button type="button" class="button" id="snapshot"></button>
								</div>
							</div>
							<div class="column">
								<p id="counter"><span id="count">10</span> left</p>
							</div>
						</div>
					</div>
					<br>
					<video id="video" autoplay playsinline></video>
				</div>
				<div class="column column-20"></div>
			</div>
			<!--End of Main Content-->
	</div>
	<script src="/js/capture-frame.js" type="text/javascript"></script>
	<script src="/js/train.js" type="text/javascript"></script>
</body>

</html>