/*------------------Page Wrap------------------*/

#wrapper {
	padding-left: 0;
	transition: all 0.5s ease;
}

#wrapper.toggled {
	padding-left: 250px;
}

#sidebar-wrapper {
	z-index: 1000;
	position: fixed;
	left: 250px;
	width: 0;
	height: 100%;
	margin-left: -250px;
	overflow-y: auto;
	background: #fff;
	transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
	width: 250px;
}

#page-wrapper {
	width: 100%;
	position: absolute;
}

#wrapper.toggled #page-wrapper {
	position: absolute;
	margin-right: -250px;
}

@media(min-width:768px) {
	#wrapper {
		padding-left: 0px;
	}
	#wrapper.toggled {
		padding-left: 250;
	}
	#sidebar-wrapper {
		width: 0px;
	}
	#wrapper.toggled #sidebar-wrapper {
		width: 250px;
	}
	#page-wrapper {
		position: relative;
	}
	#wrapper.toggled #page-wrapper {
		position: relative;
		margin-right: -250px;
	}
}

/*------------------Sidebar Opener------------------*/

#sidebar-opener {
	padding-top: 3%;
}
#sidebar-opener a {
	cursor: pointer;
}

/*------------------Sidebar Styles------------------*/

.sidebar-nav {
	position: relative;
	top: 3%;
	width: 250px;
	margin: 0;
	padding: 0;
	list-style: none;
}
.sidebar-nav li {
	text-indent: 20px;
	line-height: 40px;
}
.sidebar-nav li a {
	cursor: pointer;
}