/*------------------General Styles------------------*/

.pop {
	box-shadow: 9px 7px 40px -6px rgba(0, 0, 0, 0.25);
	padding: 0;
	border-radius: 4px;
	margin-top: 7%;
	background: #e7e7e7;
}
#video {
	float: right;
	width: 100%;
	box-shadow: 9px 7px 40px -6px rgba(0, 0, 0, 0.25);
}
#heading {
	padding: 0 4em 2em 4em;
}
.top_button {
	padding-top: 3%;
}
#error {
	opacity: 0;
	font-size: 1.3rem;
	color: #d9534f;
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
}

/*------------------Button Styles------------------*/

button {
	outline: none;
	height: 40px;
	text-align: center;
	width: 130px;
	border-radius: 40px;
	background: #cee7ff;
	border: 2px solid #566b95;
	color: #566b95;
	letter-spacing: 1px;
	font-family: 'Hack', monospace;
	font-size: 12px;
	font-weight: bold;
	cursor: pointer;
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
button:hover {
	border-color: #566b95;
	color: white;
	background: #566b95;
}
button:active {
	letter-spacing: 2px;
}
button:focus {
	background: #cee7ff;
	border: 2px solid #566b95;
	color: #566b95;
}
#snapshot:after {
	content: "SNAPSHOT";
}
.onclick {
	padding: 0;
	width: 40px;
	border-color: #bbb;
	border-width: 3px;
	font-size: 0;
	border-left-color: #566b95;
	-webkit-animation: rotating 2s 0.25s linear infinite;
	animation: rotating 2s 0.25s linear infinite;
}
.onclick:after {
	content: "";
}
.onclick:focus {
	border: 2px solid #bbb;
	color: #566b95;
	border-left-color: #566b95;
}
.validate {
	font-size: 13px;
	color: white;
	background: #566b95;
}
.validate:after {
	/*font-family: 'FontAwesome';
	content: "\f00c";*/
	content: '';
}
@-webkit-keyframes rotating {
	from {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@keyframes rotating {
	from {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}